<div class="screen scanlines flicker">
  <p class="terminal-line textshadow"
    *ngFor="let line of terminalLog">{{ line }}</p>

  <!-- required because <input> cannot have pseudo elements -->
  <p
    id="terminal-input-mirror"
    class="terminal-line textshadow cursor-blink"
  >{{ userInput }}</p>

  <span>
    <!-- required to prevent focus from going off the page -->
    <input id="tab-focus-catcher" class="invisible-input">

    <input
      type="text"
      id="terminal-input"
      class="invisible-input"
      [(ngModel)]="userInput"
      (keyup.enter)="submitLine()"
      (blur)="trapInputFocus()"
      #terminalInput
    />

    <input id="tab-focus-catcher" class="invisible-input">
  </span>

</div>

