<div class="screen scanlines flicker"
  #screen>

  <span *ngFor="let line of terminalLog"
    [ngSwitch]="line">
    <a class="terminal-line textshadow"
      *ngIf="line.urlLink"
      [ngClass]="{'user-input': line.isUserEntry}"
      [href]="line.urlLink"
      >{{ line.value }}</a>

    <span *ngIf="!line.urlLink">
      <p class="terminal-line textshadow"
        *ngIf="line.value"
        [ngClass]="{'user-input': line.isUserEntry}"
        (click)="clickText(line)"
        >{{ line.value }}</p>

      <span class="terminal-line textshadow"
        *ngIf="!line.value"
        [ngClass]="{'user-input': line.isUserEntry}"
        (click)="clickText(line)"
        ><br/></span>
    </span>
  </span>


  <!-- required because <input> cannot have pseudo elements -->
  <p
    id="terminal-input-mirror"
    class="terminal-line user-input
    textshadow cursor-blink"
  >{{ userInput }}</p>

  <span>
    <!-- required to prevent focus from going off the page -->
    <input id="tab-focus-catcher" class="invisible-input">

    <input
      type="text"
      id="terminal-input"
      class="invisible-input"
      [(ngModel)]="userInput"
      (keyup.enter)="submitLine()"
      (keyup.shift.enter)="submitLine()"
      (blur)="trapInputFocus()"
      #terminalInput
    />

    <input id="tab-focus-catcher" class="invisible-input">
  </span>

  <p class="terminal-line">
    screen height: {{ tempMirrorScreenHeight }}px
  </p>
  <p class="terminal-line">
    screen width: {{ tempMirrorScreenWidth }}px
  </p>

</div>

