@import url("https://fonts.googleapis.com/css?family=VT323&display=swap");
@import "sass/scanlines";
@import "sass/flicker";
@import "sass/text-shadow";
@import "sass/cursor-blink";

.screen {
  background:#111;
  color:white;
  width:100%;
  height:100%;

  .invisible-input {
    // we can't use "visibility: hidden" or "display: none"
    // these would prevent it from receiving focus
    caret-color: transparent;
    border: 0;
    size: 0px;
    width: 0px;
    opacity: 0;
  }

  .terminal-line {
    background: inherit;
    color: inherit;
    font: 30px "VT323", monospace;
    white-space: pre;

    width: 100%;
    margin: 0px;
    padding: 0px;
    line-height: .85em;

    &::before {
      // content: " ";
      position: "absolute";
      // padding-left: 1.0rem;
      // padding-right: 0.5rem;
      left: 0px;
    }

    &.user-input::before {
      content: '>';
    }
  }
}
