@import url("https://fonts.googleapis.com/css?family=VT323&display=swap");
@import "sass/scanlines";
@import "sass/flicker";
@import "sass/text-shadow";
@import "sass/cursor-blink";
@import "sass/large-scanline";
@import "sass/vignette";

$dim-green: rgba(52, 235, 61, 0.5);
$bright-green: rgba(52, 235, 61, 1);

$terminal-text-color: $dim-green;
$terminal-link-color: $bright-green;

.screen {
  background: black;
  color: $terminal-text-color;
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;

  .invisible-input {
    // we can't use "visibility: hidden" or "display: none"
    // these would prevent it from receiving focus
    caret-color: transparent;
    border: 0;
    size: 0px;
    width: 0px;
    opacity: 0;
  }

  .terminal-line {
    background: inherit;
    color: inherit;
    white-space: pre;

    display: block;
    width: 100%;
    margin: 0px;
    padding: 0px;

    &::before {
      // content: " ";
      position: "absolute";
      // padding-left: 1.0rem;
      // padding-right: 0.5rem;
      left: 0px;
    }

    &.user-input::before {
      content: '>';
    }

    &.terminal-link {
      color: $terminal-link-color;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
