@import url("https://fonts.googleapis.com/css?family=VT323&display=swap");
@import "sass/scanlines";
@import "sass/flicker";
@import "sass/text-shadow";
@import "sass/cursor-blink";
@import "sass/large-scanline";
@import "sass/vignette";

$green: rgb(52, 235, 61);

$terminal-text-color: $green;

.screen {
  background: black;
  color: $terminal-text-color;
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;

  .invisible-input {
    // we can't use "visibility: hidden" or "display: none"
    // these would prevent it from receiving focus
    caret-color: transparent;
    border: 0;
    size: 0px;
    width: 0px;
    opacity: 0;
  }

  .terminal-line {
    background: inherit;
    color: inherit;
    filter: opacity(80%);
    white-space: pre;

    display: block;
    width: 100%;
    margin: 0px;
    padding: 0px;

    &::before {
      // content: " ";
      position: "absolute";
      // padding-left: 1.0rem;
      // padding-right: 0.5rem;
      left: 0px;
    }

    &.user-input::before {
      content: '>';
    }

    &.terminal-link {
      filter: opacity(100%);
      text-decoration: underline;
      cursor: pointer;
    }
  }

  #input-container {
    position: relative; // to act as a relative position for a child position: absolute

    #terminal-input-mirror,
    #terminal-input {
      position: absolute;
      top: 0px;
    }

    #terminal-input {
      width: 100vw;
    }
  }
}
